@media all and (max-width:768px) {
.header {
  /* background: black; */
}

.mobile {
  display: block;
}

.pc {
  display:none;
}

.header > .nav > .left > div > a{
  color : #ffffff;
}

.header > .nav > .left > div > a:active{
  color : red;
  
}

.header > .nav > .side {
  color : #ffffff;
  /* display:block;
  position: fixed;
  height: 100%;
  width: 50%;
  background: white;
  border : 1px solid; */
}


}

  